<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <context-param>
        <param-name>myinit</param-name>
        <param-value>myinitvalue</param-value>
    </context-param>

    <listener>
        <listener-class>hbv.Listener.MyContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>myfilter</filter-name>
        <filter-class>hbv.Filter.MyFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>myfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
